html, body{
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    width: 100%;
    height: 100%;
    background: url(../images/faux_columns.PNG), repeat-y;
    background-size: contain;
}

#container{
    position:relative;
    min-height:100%;
}
a{
    text-decoration: none;
}

a p{
    color: #177EE5;
    text-decoration: none;
}
a:hover{
    color: #000000;
    text-decoration: none;
}
#header{
    background: url(../images/faux_columns_header.PNG), repeat-y;
    position: relative;
    background-size: contain;
    width: 100%;
    padding: 10px 0 0 0;
}
#header *{
    margin: 0;
}
#github{
    right: 0;
    margin-top: 20px;
    display: inline-block;
    float: right;
    width: 15%;
}
#github a{
    display: block;
}
#github_img{
    display: inline-block;
    float: right;
    width: 100%;
    height: auto;
}
#logo{
    display: inline-block;
    width: 60%;
    height: auto;
    margin-left: 2.5%;
}

#logo_img{
    width: 100%;
    height: auto;
}

#title {
    margin-left: 3%;
    display: inline-block;
}
#title a{
    color: #000000;
}
#title a:hover{
    color: #000000;
}
h1{
    font-weight: 300;
    font-size: 40pt;
}
h2{
    font-weight: 300;
    font-size: 20pt;
}
#navigation{
    margin-left: 15%;
    margin-top: -10px;
    padding-bottom: 5px;
    width: 83.7%
}
.subnav{
    font-size: 14pt;
    display: inline-block;
    padding: 0 10px 0 10px;;
}

.subnav a{
    color: #000000;
}
.subnav a:hover{
    color: #3399FF;
}
#first{
    padding-left: 0px;
}

#content{
    width: 100%;
    margin:0;
    padding:0 0 27px 0;
}

#wrapper{
    padding-left: 40px;
    padding-top: 20px;
}
#content h2{
    font-weight: 400;
}
#content h4{
    padding-left: 10px;
}
#content h5{
    padding-left: 15px;
}
#content p{
    padding-left: 20px;
    padding-right: 20px;
}
.column{
    display: inline-block;
    padding-bottom: 20px;
}
#colleft{
    width: 15%;
    vertical-align: top;
    padding-top: 10px;
}
#menu_wrapper{
    position:fixed;
    width: 20%;
    height: auto;
}
#colleft img{
    display: block;
    width: 64%;
    height: auto;
    padding: 20px 0 0 0;
}
#colmid{
    width: 83.5%;
    border-left: 1px solid #DAE2E8;
    border-top: 1px solid #DAE2E8;
}
#colright{
    width: 1.25%;
}
#footer{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 83.75%;
    background-color: #DAE2E8;
    font-size: 9pt;
    padding-left: 15%;
    padding-right: 1.25%;
}
#footer p{
    margin:0;
    padding: 5px 5px 5px 20px;
}
#copyright{
    float:left;
}
#contactEtc a{
    padding: 0 5px 0 5px;
}
#contactEtc{
    padding: 5px 0 5px 0; 
    float:right;
}

@media screen and (max-width: 875px) {
    html, body{
        background: url(../images/faux_columns_header.PNG), repeat-y;
    }
    #header{
        background: none;
    }
    #logo{
        width: 90%;
    }
    #github{
        display: none;
    }
    #navigation{
        margin-left: 21%;
        width: 79%; 
    }
    #colmid{
        width: 78.8%;
        background-color: #FFF;
    }
    #colleft{
        width: 21%;
    }
    #colright{
        display: none;
    }
    #colleft img{
        width: 94%;
    }
}

/* Mobile phone */
@media screen and (max-width: 480px) {
    a{
        color: #FFF;
    }
    
}